{{#each erros}}
  <div class="alert alert-danger">{{text}}</div>
{{else}}
{{/each}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>


<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Adicionar Empresa</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
        <br>

        <a href="/admin/empresas">
          <button class="btn btn-info"> Voltar </button>
        </a>
        
        <br>
        <br>
    </div><!-- /.container-fluid -->
</div>


<div class="col-md-6" style="display: contents;">
            <!-- general form elements -->
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">Nova Empresa</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form action="/admin/addempresa" method="POST">
                <div class="card-body">
                  <div class="form-group">
                    <label for="">Nome</label>
                    <input type="text" class="form-control" name="name" placeholder="Nome do usuário">
                  </div>
                  <div class="form-group">
                    <label for="">CNPJ</label>
                    <input type="text" class="cpfOuCnpj form-control" name="cnpj" placeholder="">
                  </div>
                  <div class="form-group">
                    <label for="">Endereço</label>
                    <input type="text" class="form-control" name="address" placeholder="">
                  </div>
                  <div class="form-group">
                    <label for="">CEP</label>
                    <input type="text" class="form-control" name="cep" placeholder="">
                  </div>               
                  <div class="form-group">
                    <label for="">Cidade</label>
                    <input type="text" class="form-control" name="city" placeholder="">
                  </div>
                  <div class="form-group">
                    <label for="">Estado</label>
                    <input type="text" class="form-control" name="state" placeholder="">
                  </div>

                  

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-info">Criar</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
</div>


<script>
  var options = {
    onKeyPress: function (cpf, ev, el, op) {
        var masks = ['000.000.000-000', '00.000.000/0000-00'];
        $('.cpfOuCnpj').mask((cpf.length > 14) ? masks[1] : masks[0], op);
    }
}

$('.cpfOuCnpj').length > 11 ? $('.cpfOuCnpj').mask('00.000.000/0000-00', options) : $('.cpfOuCnpj').mask('000.000.000-00#', options);
</script>


