<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Adicionar Pacote</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
        <br>

        <a href="/admin/pacotes">
          <button class="btn btn-info"> Voltar </button>
        </a>
        
        <br>
        <br>
    </div><!-- /.container-fluid -->
</div>


<div class="col-md-6" style="display: contents;">
            <!-- general form elements -->
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">Novo Pacote</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form>
                <div class="card-body">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Nº do Pacote</label>
                    <input type="text" class="form-control" id="" placeholder="Código do Pacote">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Destinatário</label>
                    <input type="text" class="form-control" id="" placeholder="Destinatário">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">CEP</label>
                    <input type="text" class="form-control" id="" placeholder="">
                  </div>               
                  <div class="form-group">
                    <label for="exampleInputPassword1">Endereço</label>
                    <input type="text" class="form-control" id="" placeholder="Endereço">
                  </div>
                  <div class="row">
                  <div class="form-group" style="padding-inline-end: 20px; width: 500px; padding-left: 6px;">
                    <label for="exampleInputPassword1">Cidade</label>
                    <input type="text" class="form-control" id="" placeholder="Cidade">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Estado</label>
                    <input type="text" class="form-control" id="" placeholder="Estado">
                  </div>
                   </div>

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-info">Adicionar</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
</div>


{{!-- </div> --}}


